
 <div style="text-align:center ;">
<h1>welcome to edureka</h1></div>
 {{name}}
 <br>
 {{name|uppercase}}
<br>
{{money|currency}}
<br>
{{moneydollar}}
<p>add 15 to mnoney</p>

<br>
{{money+15|currency}}

<br>
{{money|currency:'INR'}}
<br>
{{money|currency:"GBP"}}

<br>
<br>
{{nowdate}}
<br><br>
{{nowdate|date:'shortDate'}}
<br><br>
{{nowdate|date:"dd/MM/yyyy"}}
<br><br>
{{nowdate|date:"hh:mm"}}

<br><br>
<p>test pipes </p>
{{'wipro'|testpipe}}
<br><br>
{{name|testpipe:'U'}}
<br><br>
{{"shiva ji"|testpipe:'U'}}
<br>
<br>
{{"saI"|testpipe:'L'}}
